<html>
	<head>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script src="/static/js/api.js"></script>
			<script>


function wp_generate_password(length = 12, special_chars = false, extra_special_chars = false ) {
	let chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
	if (special_chars) {
		chars += '!@#$%^&*()';
	}
	if (extra_special_chars) {
		chars += '-_}~`+=,.;:|';
	}
	let result = [];
	let min = 0;
	let max = chars.length - 1;
	for (let i = 0; i < length; i++) {
		let idx = Math.floor(Math.random() * (max - min + 1)) + min;
		result.push(chars.charAt(idx));
	}
	return result.join('');
}

var _messages = [];

function sendMessage(msg) {
	_messages.push(msg);
	showMessages();
}

function showMessages() {

	let eleMsg = document.getElementById('_message');
	let msgs = _messages.map(msg => '<div>' + msg + '</div>');
	eleMsg.innerHTML = msgs.join('');
}

var token = '<%= token %>';
var image = '<%= image.name %>';
var id = '<%= id %>';
var name = '<%= name %>';
var protocol = 'fastcgi';
var stickySession = true;
var appZip = 'https://wordpress.org/wordpress-4.9.10.zip';
let appConfig = 'https://raw.githubusercontent.com/jaynsw/installer/master/wordpress/wp-config.php';
let setupPage = '/';				
					
function installer() {
	document.getElementById('intallButton').style.display = 'none';
	var slug = {id, name, protocol, image, stickySession};
	sendMessage('create a server for ' + name);
	let api = new API(token);
	api.createSlug(slug).then(saveData => {
		let slugID = id;
		sendMessage('downloading software, this will take a little bit longer, please wait...');
		return api.fetchSlugFile(slugID, appZip, '/').then(downloadData => {
			sendMessage('create database...');
			return api.createSlugMySQL(slugID).then(saveData => {
				return api.getSlugMySQL(slugID).then(metas => {
					let domainName = name;
					let hostMeta = metas.find(meta => meta.metaKey === 'host');
					let host = hostMeta ? hostMeta.metaValue : null;
					let portMeta = metas.find(meta => meta.metaKey === 'port');
					let port = portMeta ? portMeta.metaValue : null;
					let userMeta = metas.find(meta => meta.metaKey === 'user');
					let user = userMeta ? userMeta.metaValue : null;
					let passwordMeta = metas.find(meta => meta.metaKey === 'password');
					let password = passwordMeta ? passwordMeta.metaValue : null;
					let databaseMeta = metas.find(meta => meta.metaKey === 'database');
					let database = databaseMeta ? databaseMeta.metaValue : null;

					if (!host || !port || !user || !password || !database) {
						throw 'ER_DBO_NOT_FOUND';
					}

					let DB_NAME = user;
					let DB_USER = user;
					let DB_PASSWORD = password;
					let DB_HOST = host + ':' + port;
					let DB_CHARSET ='utf8mb4';
					let AUTH_KEY = wp_generate_password(64, true, true);
					let SECURE_AUTH_KEY = wp_generate_password(64, true, true);
					let LOGGED_IN_KEY = wp_generate_password(64, true, true);
					let NONCE_KEY = wp_generate_password(64, true, true);
					let AUTH_SALT = wp_generate_password(64, true, true);
					let SECURE_AUTH_SALT = wp_generate_password(64, true, true);
					let LOGGED_IN_SALT = wp_generate_password(64, true, true);
					let NONCE_SALT = wp_generate_password(64, true, true);

					let model = {DB_NAME, DB_USER, DB_PASSWORD, DB_HOST, DB_CHARSET, AUTH_KEY, SECURE_AUTH_KEY, LOGGED_IN_KEY, NONCE_KEY, AUTH_SALT, SECURE_AUTH_SALT, LOGGED_IN_SALT, NONCE_SALT};
					sendMessage('config software...');
					return api.composeSlugTextFile(slugID, appConfig, '/', model).then(genData => {
						sendMessage('startup software...');
						return api.startupSlug(slugID).then(startupData => {
							return new Promise((resolve, reject) => {
								setTimeout(() => {
									sendMessage('congratulations. The installation is done. Please setup the website <a target="_blank" href="https://' + name + '/">https://' + name + '/' + '</a>' );
									resolve(startupData);
								} , 10000);
							});
						});	
					});
				});
			});
		});
	}).catch(err => {
		if (err.response && err.response.data && err.response.data.error) {
			sendMessage(err.response.data.error);
			return;
		}
		sendMessage(err);
	});			
}
					
</script>

	</head>
	<body>
		<div style="display:flex;flex-direction: column;align-items:center;justify-content: center;align-content:center">
			<div id="_message"></div>
			<button style="background-color: #1890ff;color:#fff;padding: 7px 15px;" id="intallButton" onclick="installer()">Click to Install</button>
		</div>
		
	</body>
</html>


