<html>
	<head>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script src="https://raw.githubusercontent.com/jaynsw/installer/master/api.js"></script>
			<script>
var _messages = [];

function sendMessage(msg) {
	_messages.push(msg);
	showMessages();
}

function showMessages() {

	let eleMsg = document.getElementById('_message');
	let msgs = _messages.map(msg => '<div>' + msg + '</div>');
	eleMsg.innerHTML = msgs.join('');
}

var token = '<%= token %>';
var image = '<%= image.name %>';
var id = '<%= id %>';
var name = '<%= name %>';
var protocol = 'http';
var appZip = 'https://github.com/jaynsw/nodejs-hello/archive/master.zip';
let appConfig = 'https://raw.githubusercontent.com/jaynsw/installer/master/node-hello/dbo.json';
let appSQL = 'https://raw.githubusercontent.com/jaynsw/installer/master/node-hello/database.sql';
let setupPage = '/user/list/';				
					
function installer() {
	document.getElementById('intallButton').style.display = 'none';
	var slug = {id, name, protocol, image};
	sendMessage('create a server for ' + name);
	let api = new API(token);
	api.createSlug(slug).then(saveData => {
		let slugID = id;
		sendMessage('downloading software, this will take a little bit longer, please wait...');
		return api.fetchSlugFile(slugID, appZip, '/').then(downloadData => {
			sendMessage('create database...');
			return api.createSlugMySQL(slugID).then(saveData => {
				return api.runSlugSQL(slugID, appSQL).then(runData => {
					return api.getSlugMySQL(slugID).then(metas => {
						let domainName = name;
						let hostMeta = metas.find(meta => meta.metaKey === 'host');
						let host = hostMeta ? hostMeta.metaValue : null;
						let portMeta = metas.find(meta => meta.metaKey === 'port');
						let port = portMeta ? portMeta.metaValue : null;
						let userMeta = metas.find(meta => meta.metaKey === 'user');
						let user = userMeta ? userMeta.metaValue : null;
						let passwordMeta = metas.find(meta => meta.metaKey === 'password');
						let password = passwordMeta ? passwordMeta.metaValue : null;
						let databaseMeta = metas.find(meta => meta.metaKey === 'database');
						let database = databaseMeta ? databaseMeta.metaValue : null;

						if (!host || !port || !user || !password || !database) {
							throw 'ER_DBO_NOT_FOUND';
						}

						let DB_NAME = user;
						let DB_USER = user;
						let DB_PASSWORD = password;
						let DB_HOST = host;
						let DB_CHARSET ='utf8mb4';
					

						let model = {DB_NAME, DB_USER, DB_PASSWORD, DB_HOST, DB_CHARSET};
						sendMessage('config software...');
						return api.composeSlugTextFile(slugID, appConfig, '/', model).then(genData => {
							sendMessage('startup software...');
							return api.startupSlug(slugID).then(startupData => {
								sendMessage('congratulations. The installation is done. Please setup the website <a target="_blank" href="https://' + name + '/">https://' + name + '/' + '</a>' );
								return startupData;
							});
						});	
					});
				});
			});
		});
	}).catch(err => {
		if (err.response && err.response.data && err.response.data.error) {
			sendMessage(err.response.data.error);
			return;
		}
		sendMessage(err);
	});			
}
					
</script>

	</head>
	<body>
		<div style="display:flex;flex-direction: column;align-items:center;justify-content: center;align-content:center">
			<div id="_message"></div>
			<button style="background-color: #1890ff;color:#fff;padding: 0 15px;" id="intallButton" onclick="installer()">Install</button>
		</div>
		
	</body>
</html>


